{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true,
    "jQuery": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "only-multiline"],
    "no-alert": "off",
    "no-array-constructor": "error",
    "no-bitwise": "off",
    "no-caller": "error",
    "no-catch-shadow": "error",
    "no-comma-dangle": "off",
    "no-cond-assign": "error",
    "no-console": "warn",
    "no-constant-condition": "error",
    "no-continue": "off",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "off",
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-duplicate-case": "error",
    "no-else-return": "off",
    "no-empty": "error",
    "no-empty-class": "off",
    "no-empty-character-class": "error",
    "no-eq-null": "off",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "off",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "off",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "off",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "off",
    "no-loop-func": "error",
    "no-mixed-requires": ["off", false],
    "no-mixed-spaces-and-tabs": ["error", false],
    "linebreak-style": ["error", "unix"],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "no-native-reassign": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "off",
    "no-new": "off",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "off",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "off",
    "no-path-concat": "off",
    "no-plusplus": "off",
    "no-process-env": "off",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-reserved-keys": "off",
    "no-restricted-modules": "off",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "off",
    "no-sequences": "error",
    "no-shadow": "off",
    "no-shadow-restricted-names": "error",
    "no-space-before-semi": "off",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-sync": "off",
    "no-ternary": "off",
    "no-trailing-spaces": "error",
    "no-this-before-super": "off",
    "no-throw-literal": "off",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "off",
    "no-unexpected-multiline": "off",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "off",
    "no-unreachable": "error",
    "no-unused-expressions": ["error", {"allowShortCircuit": true, "allowTernary": true}],
    "no-unused-vars": ["error", {"vars": "local", "args": "after-used"}],
    "no-use-before-define": "error",
    "no-void": "off",
    "no-var": "error",
    "prefer-const": "off",
    "no-warning-comments": ["off", { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "no-with": "error",
    "array-bracket-spacing": "error",
    "accessor-pairs": "off",
    "block-scoped-var": "off",
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "complexity": ["off", 11],
    "computed-property-spacing": ["off", "never"],
    "consistent-return": "off",
    "consistent-this": ["off", "that"],
    "constructor-super": "off",
    "curly": ["error", "multi-line"],
    "default-case": "off",
    "dot-location": "off",
    "dot-notation": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "func-call-spacing": "error",
    "func-names": "off",
    "func-style": ["off", "declaration"],
    "generator-star": "off",
    "generator-star-spacing": "off",
    "guard-for-in": "off",
    "handle-callback-err": "off",
    "indent": ["error", 2],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": "error",
    "lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "beforeLineComment": true,
      "allowBlockStart": true,
      "allowObjectStart": true,
      "allowArrayStart": true
    }],
    "max-depth": ["off", 4],
    "max-len": ["off", 120, 4],
    "max-nested-callbacks": ["off", 2],
    "max-params": ["off", 3],
    "max-statements": ["off", 10],
    "new-cap": "error",
    "new-parens": "error",
    "newline-after-var": "off",
    "object-curly-spacing": ["off", "never"],
    "object-shorthand": "off",
    "one-var": ["error", "never"],
    "operator-assignment": ["off", "always"],
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "padding-line-between-statements": "off",
    "quote-props": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "radix": "off",
    "semi": "error",
    "semi-spacing": ["error", {"before": false, "after": true}],
    "sort-vars": "off",
    "space-after-keywords": ["off", "always"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", { "anonymous": "never" , "named": "never" }],
    "space-before-function-parentheses": ["off", "always"],
    "space-in-brackets": ["off", "never"],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": "off",
    "spaced-line-comment": ["off", "always"],
    "strict": "off",
    "use-isnan": "error",
    "valid-jsdoc": "off",
    "valid-typeof": "error",
    "vars-on-top": "off",
    "wrap-iife": ["error", "any"],
    "wrap-regex": "off",
    "yoda": ["error", "never"],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
